@font-face{
  font-family:'PT Sans',sans-serif;
  font-weight:400;
  font-style:normal;
  src:url(../../fonts/PTSans-Regular.ttf) format('ttf');
}

@font-face{
  font-family:'PT Sans',sans-serif;
  font-weight:700;
  font-style:normal;
  src:url(../../fonts/PTSans-Bold.ttf) format('ttf');
}

@font-face {
  font-family:'Cuprum',sans-serif;
  font-weight:400;
  font-style:normal;
  src:url(../../fonts/Cuprum-Regular.ttf) format('ttf');
}

@font-face {
  font-family:"Cuprum",sans-serif;
  font-weight: 700;
  font-style:normal;
  src:url(../../fonts/Cuprum-Bold.ttf) format('ttf');
}

@font-face{
  font-family:"Cuprum",sans-serif;
  font-weight: 400;
  font-style: italic;
  src:url(../../fonts/Cuprum-Italic.ttf) format('ttf');
}
